<% if current_user.nil?%>
  <p>Please <%= link_to "Sign In", new_user_session_path %>/<%= link_to "Sign Up", new_user_registration_path %> before do anything</p>
<% else %>
<%= link_to "Create Game Record", new_game_path %>
<%= link_to "See Standings", standings_path %>
<%= link_to "See Scores", games_path %>
<% end %>

