<p id="notice"><%= notice %></p>

<h1>Games</h1>

<table>
  <thead>
    <tr>
      <th>Created At</th>
      <th>Winner</th>
      <th>Loser</th>
      <th>Winner race</th>
      <th>Loser race</th>
      <th>Note</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @games.each do |game| %>
      <tr>
        <td><%= game.created_at.in_time_zone("Taipei") %></td>
        <td><%= game.winner.email %></td>
        <td><%= game.loser.email %></td>
        <td><%= game.winner_race.titleize %></td>
        <td><%= game.loser_race.titleize %></td>
        <td><%= game.note %></td>
        <% if current_user.id == game.winner_id %>
        <td><%= link_to 'Edit', edit_game_path(game) %></td>
        <td><%= link_to 'Destroy', game, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Game', new_game_path %>
