<!DOCTYPE html>
<html>
  <head>
    <title>Sc2 Standings</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if current_user.present? %>
      Hello, <%= current_user.email%>
    <% end %>

    <h1><%= link_to "SC2 Standings", root_path %></h1>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
